<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lld.im.service.friendship.dao.mapper.ImFriendshipRequestMapper">

    <resultMap id="BaseResultMap" type="com.lld.im.service.friendship.dao.ImFriendshipRequest">
            <id property="id" column="id" />
            <result property="appId" column="app_id" />
            <result property="fromId" column="from_id" />
            <result property="toId" column="to_id" />
            <result property="remark" column="remark" />
            <result property="readStatus" column="read_status" />
            <result property="addSource" column="add_source" />
            <result property="addWording" column="add_wording" />
            <result property="approveStatus" column="approve_status" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="sequence" column="sequence" />
    </resultMap>

    <sql id="Base_Column_List">
        id,app_id,from_id,to_id,remark,read_status,
        add_source,add_wording,approve_status,create_time,update_time,
        sequence
    </sql>
</mapper>
